<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Code</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let returnValue of returnValues; let i = index;">
    <th scope="row">{{i + 1}}</th>
    <td>{{returnValue['code']}}</td>
    <td>{{returnValue['description']}}</td>
  </tr>
  </tbody>
</table>


