<div class="modal-header"><h4 class="modal-title pull-left">Send Resource {{resource['path']}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"><span
    aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <app-send-params [paramsArray]="this.sendForm"></app-send-params>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-success" (click)="send()" [disabled]="!sendForm.valid">Send</button>
  </div>
</div>
