<form [formGroup]="sendForm">
  <div formArrayName="params">
    <div *ngFor="let param of getParams(sendForm); let i=index">
      <div [formGroupName]="i">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{param.value['name']}}</label>
          <div *ngIf="param.value['type']==='object'; else primitive" class="col-sm-8">
            <app-send-params [paramsArray]="getInnerParam(i)"></app-send-params>
          </div>
          <ng-template #primitive>
            <div #primitive *ngIf="param.value['type']!='array'; else isArray" class="col-sm-8">
              <input [type]="param.value['type']" class="form-control" formControlName="value"
                     aria-describedby="properties">
              <small id="properties" class="form-text text-muted">
                {{param.value['properties']}}
              </small>
            </div>
          </ng-template>
          <ng-template #isArray formArrayName="value">
            <small class="form-text text-muted padding-bottom">
              {{param.value['properties']}}
            </small>
            <div *ngFor="let item of getArrayParams(param); let j=index">
              <div [formGroupName]="j">
                <div class="form-group">
                  <div class="col-sm-8">
                    <label for="item"></label><input id="item" type="text" class="form-control"
                                                     formControlName="element">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-4">
                <button type="button" class="btn btn-primary" (click)="addArrayValue(i)">
                  Add Param
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</form>
