<div class="background-blue">
  <button type="button" class="btn btn-warning" (click)="createNewApi()">Create new API</button>
  <accordion>
    <accordion-group *ngFor="let project_name of objectKeys(this.projects)">
      <span accordion-heading class="project-name">
        {{project_name}}
      </span>
      <span accordion-heading class="project-description">
        {{this.projects[project_name]['description']}}
      </span>
      <span accordion-heading class="project-root project-description">
        {{this.projects[project_name]['root']}}
      </span>
      <span accordion-heading>
        <button class="project-root btn-danger" (click)="deleteProject(project_name)">delete</button>
      </span>
      <span accordion-heading>
        <button class="btn-dark" (click)="editProject(this.projects[project_name])">edit</button>
      </span>
      <app-display-resources [root]="this.projects[project_name]['root']"
                             [resources]="this.projects[project_name]['resources']"></app-display-resources>
    </accordion-group>
  </accordion>
</div>
