.background-blue {
  background-color: blue;
  color: wheat;
  padding: 20px;
}

.background-grey {
  background-color: cadetblue;
  color: wheat;
}

.margin-left {
  margin-left: 20px;
}

.margin {
  margin: 20px;
}

.param-display {
  background-color: gray;
  border-style: inset;
}

.project-name {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.project-description {
  color: black;
  font-size: 16px;
}

.project-root {
  float: right;
}
