<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let param of params; let i = index;">
    <th scope="row">{{i + 1}}</th>
    <td>{{param['name']}}</td>
    <td>{{param['type']}}</td>
  </tr>
  </tbody>
</table>


