<accordion>
  <accordion-group *ngFor="let resource of resources" class="margin-left">
    <span accordion-heading class="badge badge-secondary method">{{resource['method']}}</span>
    <span accordion-heading class="path">{{resource['path']}}</span>
    <button accordion-heading type="button" class="btn btn-success send" (click)="send(resource)">request</button>
    <tabset type="pills">
      <tab heading="Params">
        <app-display-params [params]="resource['params']"></app-display-params>
      </tab>
      <tab heading="Return Values">
        <app-display-return-values [returnValues]="resource['returnValues']"></app-display-return-values>
      </tab>
    </tabset>
  </accordion-group>
</accordion>
