<form [formGroup]="paramsForm">
  <div formArrayName="params">
    <div *ngFor="let param of getP(); let j=index">
      <div [formGroupName]="j">
        <span class="col-sm-2">Param {{ j + 1 }}</span>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="paramName">name</label>
          <div class="col-sm-8">
            <input id="paramName" type="text" class="form-control" formControlName="name">
          </div>
        </div>
        <accordion>
          <accordion-group class="margin-bottom" panelClass="paramProperties">
            <span accordion-heading>
              param {{j + 1}} properties
            </span>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>
                  type:
                  <select formControlName="type">
                    <option value="string">string</option>
                    <option value="number">number</option>
                    <option value="password">password</option>
                    <option value="url">url</option>
                    <option value="array">array</option>
                    <option value="object">object</option>
                  </select>
                </label>
              </div>
              <div class="form-group form-check col-md-4">
                <input class="form-check-input" type="checkbox" value="" id="required" formControlName="required">
                <label class="form-check-label" for="required">
                  required
                </label>
              </div>
              <div *ngIf="param.value['type']!='array' && param.value['type']!='object'" class="form-group row">
                <label class="control-label" for="pattern">pattern:</label>
                <div>
                  <input id="pattern" formControlName="pattern">
                </div>
              </div>
              <div *ngIf="param.value['type']==='array'" class="form-group">
                <label class="control-label" for="max_element">max element</label>
                <div>
                  <input id="max_element" formControlName="max_element">
                </div>
              </div>
              <div *ngIf="param.value['type']==='object'" class="form-group">
                <app-create-params [resourceParams]="getInnerParams(j)"
                                   (paramsListener)="paramComponent($event, j)"></app-create-params>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <button type="button" class="btn btn-primary" (click)="addParams()">
        Add Param
      </button>
    </div>
  </div>
</form>
