<div class="modal-header"><h4 class="modal-title pull-left">Create API</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"><span
    aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="apiForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': (apiForm.get('name').touched &&
                                 apiForm.get('name').errors)}">
      <label class="col-sm-2 control-label" for="name">name</label>
      <div class="col-sm-8">
        <input id="name" type="text" class="form-control" formControlName="name" readonly>
        <span class="help-block text-warning"
              *ngIf="(apiForm.get('name').touched && apiForm.get('name').errors?.required)">
            Name is required
         </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': (apiForm.get('root').touched &&
                                 apiForm.get('root').errors)}">
      <label class="col-sm-2 control-label" for="root">root</label>
      <div class="col-sm-8">
        <input id="root" type="text" class="form-control" formControlName="root">
        <span class="help-block text-warning"
              *ngIf="(apiForm.get('root').touched && apiForm.get('root').errors)">
          <span *ngIf="apiForm.get('root').errors.required">
        Root is required
      </span>
          <span *ngIf="apiForm.get('root').errors.pattern">
        Root should be url
      </span>
         </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="description">description</label>
      <div class="col-sm-8">
        <textarea id="description" type="text" class="form-control" formControlName="description"></textarea>
      </div>
    </div>


    <div formArrayName="resources">
      <div *ngFor="let resource of getResources(apiForm); let i=index">
        <div [formGroupName]="i">
          <label>Resource {{ i + 1 }}</label>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="path">path</label>
            <div class="col-sm-8">
              <input id="path" type="text" class="form-control" formControlName="path">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">
              method:
              <select formControlName="method">
                <option value="get">get</option>
                <option value="post">post</option>
                <option value="put">put</option>
                <option value="patch">patch</option>
                <option value="options">option</option>
              </select>
            </label>
          </div>
          <app-create-params [resourceParams]="getParams(resource)"
                             (paramsListener)="paramComponent($event, i)"></app-create-params>

          <div formArrayName="returnValues">
            <div *ngFor="let param of getReturnValues(resource); let j=index">
              <div [formGroupName]="j">
                <span class="col-sm-2">Return Value {{ j + 1 }}</span>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="code">code</label>
                  <div class="col-sm-8">
                    <input id="code" type="number" class="form-control" formControlName="code">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="descriptionReturnValue">description</label>
                  <div class="col-sm-8">
                    <textarea id="descriptionReturnValue" type="text" class="form-control"
                              formControlName="description"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
              <button type="button" class="btn btn-primary" (click)="addReturnValues(i)">
                Add Return Value
              </button>
            </div>
          </div>


        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <button type="button" class="btn btn-primary" (click)="addResource()">
            Add Resource
          </button>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn rounded-circle btn-warning" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
